<div
    style="border: 1px solid red;"
>
    <h2>我是英雄列表模块</h2>
    <ul>
        <li
            *ngFor="let attr of totalData"
            style="list-style: none;"
            
        >
            <a routerLink="/detail/{{attr.id}}">
                <span>{{attr.id}}</span>&nbsp;&nbsp;
                <span>{{attr.name}}</span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <button
                (click)="delete(attr)"
            >删除英雄</button>
        </li>
    </ul>
    <!-- 增加英雄 -->
    <div>
        <h2>我是增加英雄的</h2>
        <label >英雄名字
            <input type="text" #heroName>
        </label>
        <button (click)="add(heroName.value);heroName.value=''">
            add英雄
        </button>
    </div>
</div>